
*{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.soup-can{
    display: block;
}
.h1 {
    margin-bottom: 0px;
    color: white;
    background-color: red;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    margin: 0px auto 0px auto;
    display: block;
}
.recipes,
.h2,
.bold{
    color: white;
    background-color: black;
    font-size: 35px;
    text-align: center;
}

.description{
    font-size: 30px;
    text-align: center;
}
.title{
    font-size: 30px;
}
.a{
    color: red;
}
.b{
    color: silver;
}
.bold{
    font-size: 20px;
    text-align: left;
}
.recipes{
    margin: -20px auto 0px auto;
    box-sizing: border-box;
    width: auto;
}
.soup-can{
    display: block;
    margin: 10px auto;
}
.box{
    display: flex;
}
.box div{
    display: inline-block;
    color: black;
    background-color: #C9B43A;
    font-size: 30px;
    text-align: center;
    border-color: black;
    border-style: solid;
    flex:2;
    margin-left: auto;
}

.font{
    color: black;
    font-size: 30px;
}

